* {
  padding: 0px;
  margin: 0px;
  /* border: 1px solid red; */
}
#menu_icon {
  width: 20px;
  opacity: 0.3;
  transition: all 0.5s ease 0s;
}
#menu_icon:hover {
  width: 20px;
  opacity: 1;
  cursor: pointer;
}
.container_navbar {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 23px;
  margin: 40px;
}
.container_navbar_quick_options ul {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 60px;
  color: #b3b3b3;
  font-family: Helvetica;
}
.container_navbar_quick_options ul li a {
  transition: all 0.5s ease 0s;
  text-decoration: none;
}
.container_navbar_quick_options ul li:hover {
  color: #000000;
  font-weight: bold;
  font-family: Helvetica;
  cursor: pointer;
}
.container_navbar_menu {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  color: #b3b3b3;
  font-family: Helvetica;
}
.container_navbar_menu:hover {
  color: #000000;
  font-weight: bold;
  font-family: Helvetica;
  cursor: pointer;
}
#menu {
  text-decoration: none;
  transition: all 0.5s ease 0s;
}
.container_hero {
  /* border: 1px solid red; */
  margin: 40px;
}
.container_hero_intro {
  /* border: 1px solid red; */
  width: 520px;
  font-size: 20px;
  margin-top: 100px;
  color: #7c7c7c;
  font-family: helvetica;
}
.container_hero_header {
  font-size: 80px;
  position: absolute;
  top: 320px;
  font-weight: bolder;
  font-family: helvetica;
}
#moses_on_couch {
  width: 1905px;
  margin-top: 65px;
}
.container_about_header {
  font-size: 80px;
  position: absolute;
  top: 1345px;
  right: 40px;
  font-weight: bolder;
  font-family: helvetica;
  color: #b81a1a;
}
.container_about_body {
  /* border: 1px solid red; */
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: helvetica;
  font-size: 20px;
  color: #7c7c7c;
}
.container_about_body p {
  margin: 20px;
}
.container_content {
  background-color: #000000;
  margin-top: 100px;
  padding-top: 125px;
  padding-bottom: 100px;
  width: 1905px;
}
.container_content_header {
  font-size: 80px;
  position: absolute;
  top: 1873px;
  left: 40px;
  font-weight: bolder;
  font-family: helvetica;
  color: #b81a1a;
}
.container_content_main_row1 {
  display: flex;
  height: 550px;
  justify-content: space-evenly;
  margin-bottom: 25px;
  gap: 10px;
}
.container_content_main_row2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_content_main_quote {
  color: white;
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
}
.container_content_main_quote p {
  width: 700px;
}
.container_content_main_seemore button {
  margin-bottom: 30px;
  width: 128px;
  height: 32px;
  border-radius: 8px;
  background-color: #b81a1a;
  border: 0px;
}
.container_content_main_row3 {
  display: flex;
  height: 550px;
  justify-content: space-evenly;
  margin-bottom: 25px;
}
.container_footer {
  background-color: #b81a1a;
  width: 1905px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}
.container_footer_column1 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.container_footer_column2 {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.column2_info_links {
  display: flex;
}
