* {
  padding: 0px;
  margin: 0px;
  /* border: 1px solid red; */
}
.container {
  margin: 30px;
}
#menu_icon {
  width: 20px;
}
.container_navbar {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 23px;
}
.container_navbar_quick_options ul {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 50px;
}
.container_navbar_menu {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
